<div class="box box-primary">
  <div class="box-header with-border">
    <h3 id="tasks-title"  class="box-title">Editar tarea #<%= task.id %></h3>
    <div id="tasks-tools" class="box-tools"><%= render 'nav_buttons' %></div>
  </div>

  <div id="tasks-body" class="box-body">
    <%= render 'form', task: task %>
  </div>
</div>