<% if @next.present? %>
  <li class="pull-right">
    <%= link_to edit_task_path(@next, status: session[:status]), {class: 'btn btn-default btn-sm', title: 'Siguiente', 'data-toggle' => 'tooltip', remote: true} do %>
      <i class="fa fa-chevron-right"></i>
    <% end %>
  </li>
<% end %>
<% if @prev.present? %>
  <li class="pull-right">
    <%= link_to edit_task_path(@prev, status: session[:status]), {class: 'btn btn-default btn-sm', title: 'Anterior', 'data-toggle' => 'tooltip', remote: true}  do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
  </li>
<% end %>