<table class="table table-bordered table-hover index tasks datatable">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>#Id</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Asunto</th>
      <th>Progreso</th>
      <th>Horas</th>
      <th>Creada</th>
    </tr>
  </thead>
  <tbody id="tasks">
    <%= render tasks %>
  </tbody>
</table>
<script type="text/javascript">

</script>