<table class="table table-bordered table-hover index">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Comentario</th>
      <th>Horas</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="works">
    <%= render works %>
  </tbody>
</table>