<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
  </div>
  <!-- Default to the left -->
  <strong>&copy; Copyright 2016 - <%= link_to 'Guzmanweb', 'https://www.linkedin.com/in/carlosguzmanweb', target: '_blank' %></strong>
</footer>