body.tasks {
  form {
    .slider-content .form-group{
      padding-right: 40px;
    }
    .slider{
      margin-top: -10px;
      margin-left: 16px;
    }
    .slider-tick-label{
      margin-top: 14px;
    }
  }

  /* Task type bg color and icon */
  .task-bg-task{
    background-color: #555299;
    i:before{content: "\f040"}
  }
  .task-bg-bug{
    background-color: #D33724;
    i:before{content: "\f188"}
  }

  /* Task type icon list */
  .task-icon-fresh:before{content: "\f01c"}
  .task-icon-todo:before{content: "\f017"}
  .task-icon-plan:before{content: "\f073"}
  .task-icon-develop:before{content: "\f040"}
  .task-icon-testing:before{content: "\f0e9"}
  .task-icon-deploy:before{content: "\f135"}
  .task-icon-done:before{content: "\f091"}
  .task-icon-rejected:before{content: "\f00d"}

  /* Task type bg color */
  .task-bg-fresh{background-color: #f39c12}
  .task-bg-todo{background-color: #ff851b}
  .task-bg-plan{background-color: #39CCCC}
  .task-bg-develop{background-color: #3c8dbc}
  .task-bg-testing{background-color: #605ca8}
  .task-bg-deploy{background-color: #D81B60}
  .task-bg-done{background-color: #00a65a}
  .task-bg-rejected{background-color: #D33724}
}