body.tasks {
  form {
    .slider-content .form-group{
      padding-right: 40px;
    }
    .slider{
      margin-top: -10px;
      margin-left: 16px;
    }
    .slider-tick-label{
      margin-top: 14px;
    }
  }
}