body.users{
	#new-user-btn{
		margin-right: 210px;
		margin-top: -5px;
	}

	#users tr{
		cursor: pointer;
	}	

  p.form-msg{
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 5px;
  }
}